QINGPING_APPKEY=YOUR_QINGPING_APPKEY
QINGPING_APPSECRET=YOUR_QINGPING_APPSECRET
INFLUXDB_URL=YOUR_INFLUX_URL
INFLUXDB_TOKEN=YOUR_INFLUX_TOKEN
INFLUXDB_ORG=YOUR_INFLUX_ORG
INFLUXDB_BUCKET=YOUR_INFLUX_BUCKET
FETCH_INTERVAL=20
#DEBUG=FALSE #comment out if shell be enabled.